* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter";
  background-color: #fff;
}

header {
  width: 100%;
  height: 55px;
  background-color: #F55A5A;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__logo {
  display: flex;
  align-items: center;
  gap: 7px;
}

.header__logo-img {
  width: 24px;
  height: 24px;
}

.header__logo-txt {
  color: #fff;
  font-size: calc(14.46rem / 16);
  font-weight: 500;
}

.journal-entry {
  max-width: 550px;
  margin: 45px auto;
}

.journal-entry__list {
  display: flex;
  align-items: center;
  padding-bottom: 18px;
  margin-bottom: 18px;
  border-bottom: 1px solid #f5f5f5;
}

.journal-entry__list:last-child {
  border-bottom: unset
}

.journal-entry__img-area {
  width: 35%;
  height: 230px;
  overflow: hidden;
  border-radius: 5px;
}

.journal-entry__img-area img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.journal-entry__txt-area {
  flex: 1;
  padding: 19px;
}

.map-info {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: calc(10.24rem / 16);
  font-weight: 400;
  margin-bottom: 4px;
}

.map-info__location {
  display: flex;
  align-items: center;
  gap: 4px;
  color: #2B283A;
}

.map-info__location::before {
  content: "";
  display: block;
  width: 8px;
  height: 10px;
  background: url(../images/icon-loc.png) no-repeat left top / 8px 10px;
}

.map-info__link a {
  color:#918E9B;
  text-decoration: none;
  border-bottom: 1px solid #918E9B;
}

.journal-entry__list .title {
  font-size: calc(25rem / 16);
  color: #2B283A;
  font-weight: 700px;
  margin-bottom: 17px;
}

.journal-entry__list .date {
  font-size: calc(10.24rem /16);
  font-weight: 700;
  color: #2B283A;
  margin-bottom: 9px;
}
.journal-entry__list .description {
  font-size: calc(10.24rem /16);
  color: #2B283A;
  font-weight: 400;
  text-align: justify;
}